.card__list {
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
}
.card__item {
    margin: 0 2px 4px;
}
.back, .front {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flip-container {
    perspective: 1000;
}

/*.flip-container:hover .flipper, */
.flip-container.hover .flipper {
    transform: rotateY(180deg) translateZ(0);
}

.flip-container, .front, .back {
    width: 70px;
    height: 70px;
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
.front {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
    background: #F57C00;
    color: #fff;
    cursor: pointer;
}
.back {
    background: #f1f1f1;
    transform: rotateY(180deg) translateZ(0);
    color: #FF5252;
}

.circle {
    width: 30px;
    height: 30px;
    border: 5px solid #FF5252;
    font-family: sans-serif;
    font-size: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}